* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px; */
    width: 40%
}

.articles article {
    width: 75%;
}


section {
    padding: 16px 0;
}

section h2 {
    padding: 16px 0;
}

section h3 {
    padding: 16px 0;
}

section h4 {
    padding: 16px 0;
}

section h5 {
    padding: 16px 0;
}

section h6 {
    padding: 16px 0;
}

section h7
.articles article {
    margin-top: 16px 0;
    margin-bottom: 16px 0;
}

section h8
    .articles articles {
        margin-bottom: 16px 0;
    }


    .articles article a {
        background-color: rgb(55, 155, 55);
        color: #fff;
        padding: 8px;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        margin-top: 8px;
    }

    .articles article a:hover {
        text-decoration: underline;
    }

    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .articles article p,
    .articles article a {
        font-family: Arial, Helvetica, sans-serif;
    }

    .articles article h4 {
        font-size: 20px;
    }

    .articles article h5 {
        font-size: 20px;
    }

    .articles article h6 {
        font-size: 20px;
    }

    .articles article h7 {
        font-size: 20px;
    }

    #sports {
        background-color: rgba(0, 255, 0, 0.10)
    }

    #sports .articles article a {
        background-color: rgba(0, 255, 0, 0.80);
        color:#000;
    }

    #economy {
        background-color: #fffa65;
    }

    #economy .articles article a {
        background-color: #ff9f1a;
        color:#000;
    }

    #tecnology {
        background-color: aqua;
    }

    #tecnology .articles article a {
        background-color: beige;
        color: #000;
    }

    #entreteriment {
        background-color: brown;
    }

    #entreteriment .articles article a {
        background-color: bisque;
        color: #000;
    }

    header .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header li {
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-left: 16px;
    }

    header li a {
        color: #000;
        text-decoration: none;

    }